dist: xenial
sudo: false
notifications:
  email: false

services:
  - postgresql
addons:
  postgresql: "9.6"

language: python
python:
  - "3.6"
  - "3.8"
  - "3.9"

install:
  - make install-requirements
  - make install-django-requirements
  - make install-test-requirements

before_script:
  - make lint
  - psql -c 'create database travis_ci_test;' -U postgres

script:
  - make coverage
  - codecov

